<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    {% for group in user_groups %}
        <h3>{{group.name}}</h3>
        <textarea id="chat-log-{{group.slug}}" cols="100" rows="20"></textarea><br>
        <input id="chat-message-input-{{group.slug}}" type="text" size="100"><br>
        <input id="chat-message-submit-{{group.slug}}" type="button" value="Send">
    {% endfor %}
    {{ token|json_script:"token" }}
    {{ user_groups|json_script:"user-groups" }}


    <script>
        const token = JSON.parse(document.getElementById('token').textContent);
        const user_groups = JSON.parse(document.getElementById('user-groups').textContent);
        console.log(user_groups)
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat'
            + '/'+"?token="+token
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data.group)
            console.log(data.message)
            query = '#chat-log-'+data.group
            console.log(query)
            document.querySelector(query).value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };



        user_groups.forEach((item, index)=>{


            document.querySelector('#chat-message-input-'+item['slug']).focus();
                document.querySelector('#chat-message-input-'+item['slug']).onkeyup = function(e) {
                if (e.key === 'Enter') {  // enter, return
                    document.querySelector('#chat-message-submit-'+item['slug']).click();
                }
            };


            document.querySelector('#chat-message-submit-'+item['slug']).onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input-'+item['slug']);
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'group': item['slug']
                }));
                messageInputDom.value = '';
            };
}) 
       
    </script>
</body>
</html>